@page
@model FysioDanmark_Project_Website.AllBookingsModel
@{
    ViewData["Title"] = "AllBookings";
}

<h1> All Bookings </h1>
<table class="table">
    <thead>
    <tr>
        <th>Id </th>
        <th>Client</th>
        <th>Staff assigned</th>
        <th>Services</th>
        <th>Total Price</th>
        <th>Time booked</th>
    </tr>
    </thead>
    <tbody>
    @if(Model.AllBookings.Count!=0)
    {        
        @foreach (var item in Model.AllBookings)
        {
            <tr>
                <td>
                    @item.BookingId
                </td>
                <td>
                    @item.Clients.Name
                </td>
                <td>
                    @item.Staff.Name (@item.Staff.Specialty)
                </td>
                <td>
                    @foreach (var services in @item.Services)
                    {
                        <p>- @services.Title</p>
                    }
                </td>
                <td>
                    @item.TotalPrice
                </td>
                <td>
                    @item.DateTime
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" asp-for="@item.BookingId" name="id">
                        <button type="submit" style="color: indianred; background: none; border: none; padding: 0; text-decoration: underline; cursor: pointer;">Delete</button>
                    </form>
                </td>
                <td>
                    <a asp-page="/BookingServices/UpdateBooking" asp-route-id="@item.BookingId">
                        Update
                    </a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
<td>
                <a asp-page="/BookingServices/AllServices"
                       class="btn btn-success btn-group-lg pull-right"  >
                        Back
                </a>
            </td> 

