@page
@model FysioDanmark_Project_Website.CreateStaff

<!DOCTYPE html>

<title>Create Staff</title>

<form method="post">

    <select class="form-group" asp-for="@Model.Staff.Id" hidden>
            <option value="0" hidden>0</option>
    </select>
    <div class="form-group">
        <label asp-for="@Model.Staff.Name" class="control-label">Name </label>
        <input asp-for="@Model.Staff.Name" class="form-control" />
        <span asp-validation-for="@Model.Staff.Name" class="text-danger"></span>

    </div>
    <p>Specialty</p>
    <select class="form-group" asp-for="@Model.Staff.Specialty">
        <option value="Fysiotherapist">Fysiotherapist</option>
        <option value="Massage">Massage</option>
        <option value="Acupuncturist">Acupuncturist</option>
    </select>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>